@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* global styles */
body {
  padding: 0;
}
/* :root {
	--blue-sapphire: #05668D;
	--metallic-seaweed: #028090;
	--persian-green: #00A896;
	--mountain-meadow: #02C39A;
	--pale-spring-bud: #F0F3BD;
} */
